[[directives]]
image = "docker://python:3.12.3-slim"
added_layers = [
    { glob = "**.{py,pyc,pyi}" },
    { glob = "pyproject.toml" },
    { paths = ["target/release/maelstrom-client", "crates/maelstrom-worker/src/executor-test-deps.tar"], follow_symlinks = true },
    { shared_library_dependencies = ["target/release/maelstrom-client"], follow_symlinks = true },
    { stubs = ["/{proc,tmp}/", "/dev/{full,fuse,null,urandom,random,zero}"] }
]
mounts = [
    { type = "tmp", mount_point = "/tmp" },
    { type = "proc", mount_point = "/proc" },
    { type = "devices", devices = ["full", "fuse", "null", "urandom", "random", "zero"] },
]
[directives.added_environment]
PYTEST_XDIST_AUTO_NUM_WORKERS = "1"
PYTHONPATH = "/py"
XDG_CACHE_HOME = "/tmp"
